@page
@model Frontend.Pages.CMunicipio.IndexModel
@{
    ViewData["Title"]="Index Municipio";
}

<h1>Listado de Municipios</h1>
    <p>
        <a asp-page="Create" class="btn btn-success">Crear Municipio</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mun in Model.Municipios)
            {
                <tr>
                    <td>@mun.Id</td>
                    <td>@mun.Nombre</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@mun.Id">Edit</a>
                        <a asp-page="./Details" class="btn btn-warning" asp-route-id="@mun.Id">Details</a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@mun.Id">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
