@page
@model Frontend.Pages.CEquipo.IndexModel
@{
    ViewData["Title"]= "Index Equipo";
}

<h1>Listado de Equipos</h1>
    <p>
        <a asp-page="Create" class="btn btn-info">Crear Equipo</a>
    </p>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Modalidad</th>
                <th>Patrocinador</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equ in Model.EquiposView)
            {
                <tr>
                    <td>@equ.Nombre</td>
                    <td>@equ.Modalidades</td>
                    <td>@equ.Patrocinador</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@equ.Id">Edit</a>
                        <a asp-page="./Details" class="btn btn-warning" asp-route-id="@equ.Id">Details</a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@equ.Id">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>


